auto lo
iface lo inet loopback

iface eth0 inet static
address 143.107.231.92
netmask 255.255.255.192
network 143.107.231.64
broadcast 143.107.231.127
gateway 143.107.231.65
dns-nameservers 143.107.231.12 8.8.8.8

#auto eth0
#allow-hotplug eth0
#iface eth0 inet manual

auto wlan0
allow-hotplug wlan0
iface wlan0 inet manual
wpa-conf /etc/wpa_supplicant/wpa_supplicant.conf